:root{

    --primary:#0f7eb3;

    --secondary:#14b8a6;

    --background:#f5f9fc;

    --card:#ffffff;

    --text:#183b56;

    --gray:#6b7280;

    --danger:#ef4444;

    --success:#22c55e;

    --warning:#f59e0b;

}